/* This file is part of jmines */
body {
	font-family: Helvetica, Arial, sans-serif;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}
canvas {
	background-color: #f2f1f0;
}
.canvas-container {
	width: 300px;
	height: 300px;
}
a {
	text-decoration: none;
}
a:visited {
	color: blue;
}
#help {
	padding-top: 5px;
}
#mobile {
	display: none;
}
#timer {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-top: -35px;
	margin-left: 50px;
}
.timer-container {
	width: 100px;
	height: 64px;
	position: relative;
	top: -300px;
	right: -300px;
}
.clock {
	width: 35px;
	height: 35px;
	padding-top: 10px;
}
.restart-container {
	width: 100px;
	height: 64px;
	position: relative;
	top: -300px;
	right: -300px;
}
#restart-button {
	width: 75px;
	height: 35px;
}
#result-text {
	padding-top: 5px;
	font-family: monospace;
	font-size: 20px;
}
.flag-container {
	width: 100px;
	height: 64px;
	position: relative;
	top: -300px;
	right: -300px;
}
.flag {
	width: 35px;
	height: 35px;
}
.flag-image {
	padding-top: 10px;
	width: 50px;
}
#flag-count {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	width: 50px;
	height: 25px;
	margin-top: -35px;
	margin-left: 40px;
}

@media only screen and (max-width: 640px) {
	body {
		padding-left: 10px;
		padding-right: 10px;
	}
	#mobile {
		display: block;
	}
	#game-container {
		display: none;
	}
}